.grad {
    height: 45px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.493), rgba(58, 58, 58, 0.486));
    
}


.hidden {
    visibility: hidden;
}
.is-active {
    visibility: unset !important;
}